* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;   
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

/*Navbar styling*/
.navbar {
    background-color: #079992;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

.nav-dots:hover {
    cursor: pointer;
}

.nav-link {
    font-weight: 500;
    font-size: 1.1rem;
    margin-right: 3rem;
    color: lightgrey;
    transition: 0.2s;
    
}
.nav-link:hover {
    cursor: pointer;
    color: white;
}

.logo {
    font-weight: bolder;
    font-size: 1.5rem;
}

.form-header {
    background-color: #F5F5F5;
    text-align: center;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}
.section-title {
    font-weight: 300;
    font-size: 1.3rem;
    color: #8B8B8B;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin: auto;
    margin-bottom: 4rem;
}
.input-title {
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #8B8B8B;
}
.input-field {
    padding: 15px 15px;
    border: 0px; 
    background-color: #EBEBEB;
    border-radius: 7px;
    width: 28rem;
    font-size: 1rem;
}

.input-element {
    flex: 1;
}

.dob-input {
    display: flex;
}
.dob-month {
    padding: 15px 15px;
    border: 0px; 
    background-color: #EBEBEB;
    border-radius: 7px;
    width: 5rem;
    font-size: 1rem;
    margin-right: 2rem;
}
.dob-day {
    padding: 15px 15px;
    border: 0px; 
    background-color: #EBEBEB;
    border-radius: 7px;
    width: 5rem;
    font-size: 1rem;
    margin-right: 2rem;
}
.dob-year {
    padding: 15px 15px;
    border: 0px; 
    background-color: #EBEBEB;
    border-radius: 7px;
    width: 8rem;
    font-size: 1rem;
}

.input-txtarea {
    padding: 15px 15px;
    border: 0px; 
    background-color: #EBEBEB;
    border-radius: 7px;
    width: 28rem;
    font-size: 1rem; 
    overflow-y: scroll;
    height: 130px;
    resize: none;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.submit-btn {
    padding: 15px 80px;
    border: 0px; 
    border-radius: 0.5rem;
    font-size: 1.1rem;
    background-color: #3C6382;
    color: white;
    letter-spacing: 1.5px;
    transition: 0.2s;
    margin-bottom: 4rem;
}
.submit-btn:hover {
    transition: 0.2s;
    background-color: #60a3bc;
    cursor: pointer;
}

.back-btn {
    padding: 15px 30px;
    border: 0; 
    border-radius: 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-right: 1.5rem;
    background-color: #e55039;
    color: white;
    transition: 0.2s;
}
.back-btn:hover {
    transition: 0.2s;
    background-color: #d87162;
    cursor: pointer;
}

/*submission confirmation style*/
.submit-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    opacity: 50%;
}
.submit-data-container {
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    width: 55%;
    margin: auto;
    margin-bottom: 3rem;
    padding: 30px;
    border-radius: 10px;
}
.submit-data-header {
    color: #8B8B8B;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.submit-column {
    display: flex;
    flex-direction: column;
}
.output-title {
    font-weight: 300;
    font-size: 1.1rem;
    color: #8B8B8B;
    margin-bottom: 0.4rem;
}
.output-element {
    flex: 1;
    margin-bottom: 1.5rem;
}
.data-output {
    background-color: white;
    padding: 12px; 
    border-radius: 10px;
    width: 65%;
}


.submitted-container {
    text-align: center;
}
.submitted-title {
    margin-top: 12vh;
    margin-bottom: 1rem;
    font-size: 5rem;
    color: rgb(17, 17, 17);
}

.home-btn {
    margin-top: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 15px;
    border: 0px;
    color: white;
    background: #2980b9;
    transition: 0.2s;
}
.home-btn:hover {
    cursor: pointer;
    background: #36a5f0;
}

.header-container {
    text-align: center;
}
.header-title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.db-search-bar {
    padding: .75rem;
    border-radius: 40px;
    width: 90%;
    text-align: center;
    font-size: 1.05rem;
    border: 0px;
    background-color: whitesmoke;
    margin-bottom: 2rem;
}
.db-search-bar:focus {
    outline: none;
}

.patient-card {
    background-color: whitesmoke;
    padding: 2rem;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.patient-title {
    margin-right: 2rem;
}
